# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user:password@localhost:5432/dbName?sslmode=disable"
JWT_SECRET=aN529W1vnIStWVLZZTo9jnaz59RAU6O0buV1A4u7pVs
USE_MAILER=false
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your@email.com
SMTP_PASSWORD=your-password
SMTP_FROM="My Application <your@email.com>"
MAIL_PIC_ADMIN_TC=""
MAIL_GROUP_TC=""